In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_excel(r"C:\Users\selfk\OneDrive\Desktop\Global Superstore1.xlsx")

In [6]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,2013-02-05,2013-02-07,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,2013-01-28,2013-01-30,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [7]:
# column and fow counts
df.shape

(51290, 24)

In [8]:
#find column names
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Postal Code', 'Market', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'],
      dtype='object')

In [9]:
#about data frame information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  datetime64[ns]
 3   Ship Date       51290 non-null  datetime64[ns]
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   City            51290 non-null  object
 9   State           51290 non-null  object
 10  Country         51290 non-null  object
 11  Postal Code     9994 non-null   float64
 12  Market          51290 non-null  object
 13  Region          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  float64
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  float64
 22  Shipping Cost   51290 non-null  float64
 23  Order Priority  51290 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(2), object(15)
memory usage: 9.4+ MB

In [10]:
#data type values
df.dtypes

Row ID                     int64
Order ID                  object
Order Date        datetime64[ns]
Ship Date         datetime64[ns]
Ship Mode                 object
Customer ID               object
Customer Name             object
Segment                   object
City                      object
State                     object
Country                   object
Postal Code              float64
Market                    object
Region                    object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Sales                    float64
Quantity                   int64
Discount                 float64
Profit                   float64
Shipping Cost            float64
Order Priority            object
dtype: object

In [12]:
#peform basic statistics
df.describe()

,Row ID,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
count,51290.00000,51290,51290,9994.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25645.50000,2013-05-11 21:26:49.155781120,2013-05-15 20:42:42.745174528,55190.379428,246.490581,3.476545,0.142908,28.610982,26.375818
min,1.00000,2011-01-01 00:00:00,2011-01-03 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000,0.002000
25%,12823.25000,2012-06-19 00:00:00,2012-06-23 00:00:00,23223.000000,30.758625,2.000000,0.000000,0.000000,2.610000
50%,25645.50000,2013-07-08 00:00:00,2013-07-12 00:00:00,56430.500000,85.053000,3.000000,0.000000,9.240000,7.790000
75%,38467.75000,2014-05-22 00:00:00,2014-05-26 00:00:00,90008.000000,251.053200,5.000000,0.200000,36.810000,24.450000
max,51290.00000,2014-12-31 00:00:00,2015-01-07 00:00:00,99301.000000,22638.480000,14.000000,0.850000,8399.976000,933.570000
std,14806.29199,NaN,NaN,32063.693350,487.565361,2.278766,0.212280,174.340972,57.296810

In [14]:
#column wise values find
df['Sales'].value_counts()

Sales
12.960      61
19.440      41
15.552      41
10.368      37
25.920      36
            ..
4626.150     1
4297.644     1
5083.960     1
5244.840     1
1822.080     1
Name: count, Length: 27200, dtype: int64

In [15]:
#filter columns
df2 = df[df['Quantity'] == 2]

In [17]:
df2

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
26,30191,IN-2011-10286,2011-12-17,2011-12-20,First Class,PB-19210,Phillip Breyer,Corporate,Taipei,Taipei City,...,FUR-TA-10004744,Furniture,Tables,"Lesro Conference Table, with Bottom Storage",1715.160,2,0.0,720.360,725.570,Critical
57,29601,IN-2012-48240,2012-05-25,2012-05-28,Second Class,GP-14740,Guy Phonely,Corporate,Delhi,Delhi,...,FUR-TA-10000226,Furniture,Tables,"Chromcraft Conference Table, with Bottom Storage",1745.340,2,0.0,226.860,616.270,Critical
95,31278,IN-2012-86698,2012-05-07,2012-05-07,Same Day,NC-18625,Noah Childs,Corporate,Newcastle,New South Wales,...,FUR-TA-10003627,Furniture,Tables,"Bevis Conference Table, with Bottom Storage",1847.520,2,0.0,738.960,545.890,High
153,32274,CA-2014-159366,2014-01-08,2014-01-11,First Class,BW-11110,Bart Watters,Corporate,Detroit,Michigan,...,TEC-MA-10000822,Technology,Machines,Lexmark MX611dhe Monochrome Laser Printer,3059.982,2,0.1,679.996,471.220,Medium
196,17548,ES-2014-1972860,2014-09-01,2014-09-01,Same Day,NF-18475,Neil FranzÃ¶sisch,Home Office,Moers,North Rhine-Westphalia,...,OFF-AP-10003382,Office Supplies,Appliances,"Breville Stove, White",1007.424,2,0.1,134.304,428.830,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51272,5465,MX-2014-101980,2014-04-17,2014-04-20,Second Class,AA-10480,Andrew Allen,Consumer,San JosÃ© de las Lajas,Mayabeque,...,OFF-AR-10002564,Office Supplies,Art,"Boston Pens, Easy-Erase",19.320,2,0.0,0.560,0.025,Medium
51276,31558,US-2014-155299,2014-06-09,2014-06-13,Standard Class,Dl-13600,Dorris liebe,Corporate,Pasadena,Texas,...,OFF-AP-10002203,Office Supplies,Appliances,Eureka Disposable Bags for Sanitaire Vibra Gro...,1.624,2,0.8,-4.466,0.020,Medium
51279,46231,ZI-2011-4350,2011-03-21,2011-03-26,Standard Class,AS-285,Alejandro Savely,Corporate,Harare,Harare,...,OFF-SAN-10001862,Office Supplies,Art,"Sanford Highlighters, Easy-Erase",9.612,2,0.7,-21.168,0.020,Medium
51283,24105,IN-2014-72327,2014-05-30,2014-05-30,Same Day,KH-16330,Katharine Harms,Corporate,Lucknow,Uttar Pradesh,...,OFF-PA-10000215,Office Supplies,Paper,"Eaton Parchment Paper, Premium",26.940,2,0.0,1.860,0.010,High
51288,9596,MX-2012-140767,2012-02-18,2012-02-22,Standard Class,RB-19795,Ross Baird,Home Office,Valinhos,SÃ£o Paulo,...,OFF-BI-10000806,Office Supplies,Binders,"Acco Index Tab, Economy",13.440,2,0.0,2.400,0.003,Medium

In [18]:
df.dtypes

Row ID                     int64
Order ID                  object
Order Date        datetime64[ns]
Ship Date         datetime64[ns]
Ship Mode                 object
Customer ID               object
Customer Name             object
Segment                   object
City                      object
State                     object
Country                   object
Postal Code              float64
Market                    object
Region                    object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Sales                    float64
Quantity                   int64
Discount                 float64
Profit                   float64
Shipping Cost            float64
Order Priority            object
dtype: object

In [23]:
### pivot Table for data frame
pivot = pd.pivot_table(df,index ='Quantity', columns ='Sub-Category',fill_value=0, aggfunc ='count')

In [24]:
pivot

                Category                                                    \
Sub-Category Accessories Appliances   Art Binders Bookcases Chairs Copiers
Quantity
1                    500        286  1024    1111       408    506     380
2                    750        451  1250    1525       619    854     609
3                    599        335   828    1115       444    716     417
4                    390        233   582     772       304    390     286
5                    301        167   414     596       234    334     190
6                    174        108   285     346       140    224     134
7                    144         78   200     288       127    183      87
8                     88         37   142     166        66     86      56
9                     68         31    79     109        40     85      34
10                    22          8    24      42        13     18      11
11                     9          3     8      20         3      9       5
12                     8          6    22      19         6      9       7
13                     7          4     4      16         4      1       3
14                    15          8    21      27         3     19       4

                                              ...     State            \
Sub-Category Envelopes Fasteners Furnishings  ... Envelopes Fasteners
Quantity                                      ...
1                  433       428         502  ...       433       428
2                  623       584         782  ...       623       584
3                  448       467         643  ...       448       467
4                  271       303         392  ...       271       303
5                  258       235         294  ...       258       235
6                  155       140         187  ...       155       140
7                  111       123         149  ...       111       123
8                   50        57         101  ...        50        57
9                   49        43          68  ...        49        43
10                  12        15          13  ...        12        15
11                   7         5          14  ...         7         5
12                   5        10          12  ...         5        10
13                   4         3           3  ...         4         3
14                   9         7          10  ...         9         7


Sub-Category Furnishings Labels Machines Paper Phones Storage Supplies Tables
Quantity
1                    502    423      329   508    560    1032      402    131
2                    782    653      372   874    776    1236      585    205
3                    643    480      245   707    669     915      472    182
4                    392    325      186   439    443     644      329     96
5                    294    240      116   360    355     468      231     89
6                    187    172       77   223    182     274      142     57
7                    149    130       68   178    151     206      114     48
8                    101     73       51    99     96     115       57     21
9                     68     61       20    88     66      81       46     19
10                    13     13        8    20     14      26       12      5
11                    14      7        7    14     13      23        8      1
12                    12     16        3     8     16      18        8      3
13                     3      3        1     9      6       6        6      3
14                    10     10        3    11     10      15       13      1

[14 rows x 374 columns]

In [25]:
pivot2 = pivot.reset_index()

In [26]:
pivot2

             Quantity    Category                                            \
Sub-Category          Accessories Appliances   Art Binders Bookcases Chairs
0                   1         500        286  1024    1111       408    506
1                   2         750        451  1250    1525       619    854
2                   3         599        335   828    1115       444    716
3                   4         390        233   582     772       304    390
4                   5         301        167   414     596       234    334
5                   6         174        108   285     346       140    224
6                   7         144         78   200     288       127    183
7                   8          88         37   142     166        66     86
8                   9          68         31    79     109        40     85
9                  10          22          8    24      42        13     18
10                 11           9          3     8      20         3      9
11                 12           8          6    22      19         6      9
12                 13           7          4     4      16         4      1
13                 14          15          8    21      27         3     19

                                          ...     State                        \
Sub-Category Copiers Envelopes Fasteners  ... Envelopes Fasteners Furnishings
0                380       433       428  ...       433       428         502
1                609       623       584  ...       623       584         782
2                417       448       467  ...       448       467         643
3                286       271       303  ...       271       303         392
4                190       258       235  ...       258       235         294
5                134       155       140  ...       155       140         187
6                 87       111       123  ...       111       123         149
7                 56        50        57  ...        50        57         101
8                 34        49        43  ...        49        43          68
9                 11        12        15  ...        12        15          13
10                 5         7         5  ...         7         5          14
11                 7         5        10  ...         5        10          12
12                 3         4         3  ...         4         3           3
13                 4         9         7  ...         9         7          10


Sub-Category Labels Machines Paper Phones Storage Supplies Tables
0               423      329   508    560    1032      402    131
1               653      372   874    776    1236      585    205
2               480      245   707    669     915      472    182
3               325      186   439    443     644      329     96
4               240      116   360    355     468      231     89
5               172       77   223    182     274      142     57
6               130       68   178    151     206      114     48
7                73       51    99     96     115       57     21
8                61       20    88     66      81       46     19
9                13        8    20     14      26       12      5
10                7        7    14     13      23        8      1
11               16        3     8     16      18        8      3
12                3        1     9      6       6        6      3
13               10        3    11     10      15       13      1

[14 rows x 375 columns]